# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data (don’t upload large/private data)
data/
1data/
*.csv

# Logs / outputs
*.log
outputs/
models/

.history/

xxx/